

@media only screen and (max-width: 1200px) {
    .container{
        width: 100%;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .form__input {
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .header {
        position: relative;
        padding: 18px 0 0;
        margin-bottom: 68px;
    }
    .title {
        font-size: 26px;
        line-height: 29px;
        margin-bottom: 26px;
    }
    .intro__pic {
        margin: 0 -20px 68px !important;
        max-width: calc(100% + 40px);
    }
    .intro__desc{
        flex-direction: column;
    }
    .intro__desc-item {
        width: 100%;
        margin-bottom: 42px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .intro__desc-title {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    body {
        font-size: 16px;
        line-height: 19px;
    }
    .article {
        margin-bottom: 68px;
    }
    .article-col{
        flex-direction: column;
        align-items: flex-start;
    }
    .article-col__info{
        padding-top: 68px;
        flex-direction: column;
        width: 100%;
    }
    .article-col__list {
        li{
            font-size: 18px;
            line-height: 21px;
        }
        margin-bottom: 42px;
    }
    .article-col__pic {
        margin: 0 -20px !important;
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        height: 400px;
        object-fit: cover;
    }
    .article-col_reverce .article-col__info {
        order: 1;
    }
    .article-col_reverce .article-col__pic {
        order: 2;
    }
    .article_bg{
        margin-bottom: 0;
    }
    .article-col__list_border{
        width: 100%;
        align-self: stretch;
    }
    .collection{
        flex-direction: column;
        padding-bottom: 60px;
    }
    .collection__pic {
        margin: 0 -20px 26px !important;
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        height: 400px;
        object-fit: cover;
    }
    .title_h3 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 22px;
    }
    .more {
        transform: none;
    }
    .collection__desc{
        margin-bottom: 60px;
    }
.form__button{
    margin-bottom: 40px;
}
.article.bt{
    margin-top: 40px;
}
.advantage{
    width: 100%;
}
.advantage:nth-child(3), .advantage:nth-child(4) {
    border-bottom: 0px solid #272727;
}
.advantage__num {
    font-size: 32px;
    line-height: 35px;
}
.condition {
    flex-direction: column;
}
.condition__desc{
    flex-direction: column;
}
.article-col__desc.last{
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 32px;
}
.qw{
    align-items: stretch;
}
.foot{
    padding-top: 0;
}
.footer {
    padding: 42px 0;
}
  .footer__logo {
    width: 107px;
    max-width: 107px;
    height: 107px;
}
.scroll-top3.vis {
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}
.bottom-contact{
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}
.bottom-contact__tel{
    margin: 0 0 32px;
    width: 100%;
}
















}

@media only screen and (max-width: 780px) {

}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 480px) {

}
