@font-face {
  font-family: "f";
  src: url("../fonts/gothampro.ttf") format("truetype");
}
@font-face {
  font-family: "f300";
  src: url("../fonts/gothampro_light.ttf") format("truetype");
}
@font-face {
  font-family: "f400";
  src: url("../fonts/gothampro_medium.ttf") format("truetype");
}
.header-contact, .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article_mark:after, .article_mark:before {
  content: "";
  display: block;
  position: absolute;
}

* {
  box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input,
select,
textarea {
  font-family: "f300";
}

p {
  margin: 0 0 16px;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 16px 0;
  padding: 0;
}

b, strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.oh {
  overflow: hidden;
}

.ac {
  text-align: center;
}

.df {
  display: flex;
}

/*fixed footer*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  color: #272727;
  font-family: "f300";
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  margin: auto auto 0 auto;
}

/*end fixed footer*/
.container {
  margin: 0 auto;
  width: 1180px;
}

.header {
  position: relative;
  padding: 18px 0;
}
.header .container {
  border-bottom: 2px solid #272727;
}

.header-menu {
  padding: 35px 0 8px;
}
.header-menu__btn {
  display: none;
}

.header-logo {
  display: flex;
  width: 139px;
  height: 139px;
  background-image: url(../img/logo.png);
  background-position: center center;
  background-size: cover;
}

.header-nav__link {
  font-family: "f300";
  color: #272727;
  font-size: 18px;
  line-height: 17px;
  margin-right: 85px;
  position: relative;
  text-transform: uppercase;
}
.header-nav__link:last-child {
  margin: 0;
}
.header-nav__link:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  right: 0;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.header-nav__link:hover:before {
  width: 100%;
  left: 0;
}

.header-contact__tel {
  font-family: "f400";
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-right: 38px;
}
.header-contact__tel:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -3px;
  right: 0;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.header-contact__tel:hover:before {
  width: 100%;
  left: 0;
}
.header-contact__soc {
  margin-right: 18px;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 48px;
  height: 48px;
}
.header-contact__soc:hover {
  transform: scale(1.1);
}
.header-contact__soc:last-child {
  margin: 0;
}
.header-contact__soc svg {
  width: 48px;
  height: 48px;
  fill: #fff;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.article_df {
  display: flex;
  justify-content: space-between;
}
.article_mark {
  background: #EDE7DD;
  padding: 68px 0;
  position: relative;
}
.article_mark:after, .article_mark:before {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 120px;
}
.article_mark:after {
  background-image: url(../img/bg_brown_bottom.png);
  background-position: center bottom;
  top: 100%;
}
.article_mark:before {
  background-image: url(../img/bg_brown_top.png);
  background-position: center top;
  bottom: 100%;
}
.article_mark .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
}
.article_mark .container h2 {
  font-size: 84px;
  line-height: 84px;
  margin: 0;
}
.article_mark .container h2 span {
  color: #709D5C;
}
.article__text {
  width: 620px;
}
.article__pic {
  width: 480px;
}
.article_chat {
  width: 100%;
  display: block;
  padding: 110px 44px 0 448px;
  margin: 260px 0;
}
.article_chat-1 {
  height: 709px;
  background-image: url(../img/chat_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #fff;
  display: flex;
  align-items: center;
  display: none;
}

.close {
  width: 48px;
  height: 48px;
  z-index: 100;
  border-radius: 50%;
  border: 1px solid #272727;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 70px;
  right: 130px;
  background-image: url(../img/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.close:hover {
  transform: scale(1.1);
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slick-slide div div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide {
  height: 100%;
}
.slick-slide img {
  max-height: 450px;
  max-width: 580px;
  margin-bottom: 40px;
}
.slick-slide div {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  max-width: 600px;
  text-align: center;
}

.slider {
  width: 100%;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slick-prev, .slick-next {
  width: 78px;
  height: 78px;
  background-color: #fff;
  z-index: 100;
  border-radius: 50%;
  border: 1px solid #85ADD2;
  transition: all 0.2s ease-in-out;
}
.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-prev:hover, .slick-next:hover {
  background-color: #85ADD2;
}
.slick-prev:hover svg, .slick-next:hover svg {
  fill: #fff;
  fill-opacity: 90%;
}
.slick-prev svg, .slick-next svg {
  width: 28px;
  height: 12px;
  transition: all 0.2s ease-in-out;
  fill: #85ADD2;
}

@media only screen and (max-width: 1200px) {
  .header__container, .container, .footer__container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}/*# sourceMappingURL=main.css.map */