@font-face {
    font-family: 'f300';
    src: url('../fonts/gothampro_light.ttf') format('truetype');
}
@font-face {
    font-family: 'f400';
    src: url('../fonts/gothampro_medium.ttf') format('truetype');
}

@import '_var';
@import '_help';


*{
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
}

input,
select,
textarea {
    font-family: $f300;
}

p{
    margin: 0 0 16px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active{
    text-decoration: none;
    position: relative;
    transition: $transition;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-weight: bold;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}



/*fixed footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: $black;
    font-family: $f300;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer {
    margin: auto auto 0 auto;
}
/*end fixed footer*/
.container{
    margin: 0 auto;
    width: 1176px;
}
.header{
    height: 91px;
    background: #709D5C;
    position: relative;
    margin-bottom: 120px;
    z-index: 10;
    &:after{
        @extend %after;
        background-image: url(../img/bg_green_bottom.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% 100%;
        top: 100%;
        width: 100%;
        height: 120px;
    }
}
.header-menu {
    @extend %flex;
    padding: 35px 0 8px;
    &__btn {
        display: none;
    }
}
.header-nav {

    &__link {
        font-family: $f300;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        margin-right: 85px;
        position: relative;
        &:last-child{
            margin: 0;
        }
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #fff;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }
}
.header-contact {
    @extend %flex;
    &__tel {
        font-family: $f400;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        margin-right: 38px;
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #fff;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    &__soc {
        margin-right: 18px;
        transition: $transition;
        display: block;
        width: 48px;
        height: 48px;
        &:hover{
            transform: scale(1.1);
        }
        &:last-child{
            margin: 0;
        }
        svg{
            width: 48px;
            height: 48px;
            fill: #fff
        }
    }
}
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
    margin-bottom: 120px;
    &_df{
        display: flex;
        justify-content: space-between;
    }
    &_mark{
        background: #EDE7DD;
        padding: 68px 0;
        position: relative;
        &:after, &:before{
            @extend %after;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 120px;
        }
        &:after{
            background-image: url(../img/bg_brown_bottom.png);
            background-position: center bottom;
            top: 100%;
        }
        &:before{
            background-image: url(../img/bg_brown_top.png);
            background-position: center top;
            bottom: 100%;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 900px;
            h2{
                font-size: 84px;
                line-height: 84px;
                margin: 0;
                span{
                    color: #709D5C;
                }
            }
        }
    }
    &__text {
        width: 620px;
    }
    &__pic{
        width: 480px;
    }
    &_chat{
        width: 100%;
        display: block;
        padding: 110px 44px 0 448px; 
        margin: 260px 0;
        &-1{
            height: 709px;
            background-image: url(../img/chat_1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
.chat {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 60px;
    &:last-child{
        margin-bottom: 0;
    }
    &__message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    &__message-item {
        @extend %fonth;
        background: #F7F7F7;
        border-radius: 8px;
        border-top-right-radius: 0;
        padding: 16px;
        max-width: 260px;
        font-size: 20px;
        line-height: 25px;  
        font-weight: 300;
    }

    &__ava {
    }
    &_reverse{
        justify-content: flex-start;
        .chat__ava{
            order: 1;
        }
        .chat__message{
            order: 2;
        }
        .chat__message-item{
            background: #ECF4E8;
            border-top-left-radius: 0;
        }
    }
}
.subtext{
    @extend %fonth;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
}
h1, h2{
    font-weight: 300;
    font-size: 160px;
    line-height: 192px;
    margin-bottom: 16px;
}


































@import '_query';


