@font-face {
    font-family: 'f';
    src: url('../fonts/gothampro.ttf') format('truetype');
}
@font-face {
    font-family: 'f300';
    src: url('../fonts/gothampro_light.ttf') format('truetype');
}
@font-face {
    font-family: 'f400';
    src: url('../fonts/gothampro_medium.ttf') format('truetype');
}

@import '_var';
@import '_help';




/*fixed footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: $black;
    font-family: $f;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer {
    margin: auto auto 0 auto;
}
/*end fixed footer*/
.container{
    margin: 0 auto;
    width: 1176px;
}
.header{
    height: 91px;
    background: #709D5C;
    position: relative;
    margin-bottom: 120px;
    z-index: 10;

}
.header-menu {
    @extend %flex;
    padding: 35px 0 8px;
    &__btn {
        display: none;
    }
}
.header-nav {

    &__link {
        font-family: $f;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        margin-right: 85px;
        position: relative;
        text-transform: uppercase;
        &:last-child{
            margin: 0;
        }
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #fff;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }
}
.header-contact {
    @extend %flex;
    &__tel {
        font-family: $f400;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        margin-right: 38px;
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #fff;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    &__soc {
        margin-right: 18px;
        transition: $transition;
        display: block;
        width: 48px;
        height: 48px;
        &:hover{
            transform: scale(1.1);
        }
        &:last-child{
            margin: 0;
        }
        svg{
            width: 48px;
            height: 48px;
            fill: #fff
        }
    }
}
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
    margin-bottom: 120px;
    &_df{
        display: flex;
        justify-content: space-between;
    }
    &_mark{
        background: #EDE7DD;
        padding: 68px 0;
        position: relative;
        &:after, &:before{
            @extend %after;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 120px;
        }
        &:after{
            background-image: url(../img/bg_brown_bottom.png);
            background-position: center bottom;
            top: 100%;
        }
        &:before{
            background-image: url(../img/bg_brown_top.png);
            background-position: center top;
            bottom: 100%;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 900px;
            h2{
                font-size: 84px;
                line-height: 84px;
                margin: 0;
                span{
                    color: #709D5C;
                }
            }
        }
    }
    &__text {
        width: 620px;
    }
    &__pic{
        width: 480px;
    }
    &_chat{
        width: 100%;
        display: block;
        padding: 110px 44px 0 448px; 
        margin: 260px 0;
        &-1{
            height: 709px;
            background-image: url(../img/chat_1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}




































@import '_query';


