@font-face {
    font-family: 'f';
    src: url('../fonts/gothampro.ttf') format('truetype');
}
@font-face {
    font-family: 'f300';
    src: url('../fonts/gothampro_light.ttf') format('truetype');
}
@font-face {
    font-family: 'f400';
    src: url('../fonts/gothampro_medium.ttf') format('truetype');
}

@import '_var';
@import '_help';




/*fixed footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: $black;
    font-family: $f300;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer {
    margin: auto auto 0 auto;
}
/*end fixed footer*/
.container{
    margin: 0 auto;
    width: 1180px;
}
.header{
    position: relative;
    padding: 18px 0;
    .container{
        border-bottom: 2px solid #272727;
    }
}
.header-menu {
    @extend %flex;
    padding: 35px 0 8px;
    &__btn {
        display: none;
    }
}
.header-logo{
    display: flex;
    width: 139px;
    height: 139px;
    background-image: url(../img/logo.png);
    background-position: center center;
    background-size: cover;
}
.header-nav {

    &__link {
        font-family: $f300;
        color: $black;
        font-size: 18px;
        line-height: 17px;
        margin-right: 85px;
        position: relative;
        text-transform: uppercase;
        &:last-child{
            margin: 0;
        }
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #fff;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }
}
.header-contact {
    @extend %flex;
    &__tel {
        font-family: $f400;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        margin-right: 38px;
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #fff;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    &__soc {
        margin-right: 18px;
        transition: $transition;
        display: block;
        width: 48px;
        height: 48px;
        &:hover{
            transform: scale(1.1);
        }
        &:last-child{
            margin: 0;
        }
        svg{
            width: 48px;
            height: 48px;
            fill: #fff
        }
    }
}
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    &_df{
        display: flex;
        justify-content: space-between;
    }
    &_mark{
        background: #EDE7DD;
        padding: 68px 0;
        position: relative;
        &:after, &:before{
            @extend %after;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 120px;
        }
        &:after{
            background-image: url(../img/bg_brown_bottom.png);
            background-position: center bottom;
            top: 100%;
        }
        &:before{
            background-image: url(../img/bg_brown_top.png);
            background-position: center top;
            bottom: 100%;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 900px;
            h2{
                font-size: 84px;
                line-height: 84px;
                margin: 0;
                span{
                    color: #709D5C;
                }
            }
        }
    }
    &__text {
        width: 620px;
    }
    &__pic{
        width: 480px;
    }
    &_chat{
        width: 100%;
        display: block;
        padding: 110px 44px 0 448px; 
        margin: 260px 0;
        &-1{
            height: 709px;
            background-image: url(../img/chat_1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #fff;
    display: flex;
    align-items: center;
    display: none;
}
.close{
    width: 48px;
    height: 48px;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid #272727;
    transition: $transition;
    position: absolute;
    top: 70px;
    right: 130px;
    background-image: url(../img/close.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    transition: $transition;
    &:hover{
        transform: scale(1.1);
    }
}
.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slick-slide div div{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}
.slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-slide {
    height: 100%;
    img{
        max-height: 450px;
        max-width: 580px;
        margin-bottom: 40px;
    }
    div{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px; 
        max-width: 600px; 
        text-align: center;
    }
}
.slider{
    width: 100%;
}
.slick-prev {
    left: 25px;
}
.slick-next {
    right: 25px;
}
.slick-prev, .slick-next {
    width: 78px;
    height: 78px;
    background-color: #fff;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid #85ADD2;
    transition: $transition;
    &:before{
        display: none;
    }
    &:hover{
        background-color: #85ADD2;
        svg{
            fill: #fff;
            fill-opacity: 90%;
        }
    }
    svg{
        width: 28px;
        height: 12px;
        transition: $transition;
        fill: #85ADD2;
    }
}






























@import '_query';


