@font-face {
    font-family: 'f';
    src: url('../fonts/gothampro.ttf') format('truetype');
}
@font-face {
    font-family: 'f300';
    src: url('../fonts/gothampro_light.ttf') format('truetype');
}
@font-face {
    font-family: 'f400';
    src: url('../fonts/gothampro_medium.ttf') format('truetype');
}

@import '_var';
@import '_help';




/*fixed footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: $black;
    font-family: $f300;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer {
    margin: auto auto 0 auto;
}
/*end fixed footer*/
.container{
    margin: 0 auto;
    width: 1180px;
}
.header{
    position: relative;
    padding: 18px 0 0;
    margin-bottom: 104px;
    .container{
        border-bottom: 1px solid #272727;
        padding: 0 0 18px;
    }
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__btn {
        display: none;
    }
}
.header-logo{
    display: flex;
    width: 139px;
    max-width: 139px;
    height: 139px;
    background-image: url(../img/logo.png);
    background-position: center center;
    background-size: cover;
}
.header-navgroup{
    display: flex;
    justify-content: flex-end;
    gap: 120px;
}
.header-col {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
}
.header-nav {
    display: flex;
    gap: 86px;
    &__link {
        font-size: 18px;
        line-height: 17px;
        position: relative;
        text-transform: uppercase;
        &:last-child{
            margin: 0;
        }
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -5px;
            right: 0;
            background: #979797;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }
}
.header-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__tel {
        font-size: 18px;
        line-height: 17px;
        &:before {
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -5px;
            right: 0;
            background: #979797;
            transition: $transition;
        }
        &:hover{
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }

    &__soc {
        transition: $transition;
        width: 48px;
        height: 48px;
        border: 1.5px solid #272727;
        border-radius:  50%;
        @extend %flex-c;
        &:hover{
            transform: scale(1.1);
        }
        &:last-child{
            margin: 0;
        }
        svg{
            width: 26px;
            height: 26px;
            fill: #fff;
        }
        &-wrap{
            display: flex;
            justify-content: flex-end;
            gap: 18px;
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #fff;
    display: flex;
    align-items: center;
    display: none;
}
.close{
    width: 48px;
    height: 48px;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid #272727;
    transition: $transition;
    position: absolute;
    top: 70px;
    right: 130px;
    background-image: url(../img/close.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    transition: $transition;
    &:hover{
        transform: scale(1.1);
    }
}
.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slick-slide div div{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}
.slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-slide {
    height: 100%;
    img{
        max-height: 450px;
        max-width: 580px;
        margin-bottom: 40px;
    }
    div{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px; 
        max-width: 600px; 
        text-align: center;
    }
}
.slider{
    width: 100%;
}
.slick-prev {
    left: 25px;
}
.slick-next {
    right: 25px;
}
.slick-prev, .slick-next {
    width: 78px;
    height: 78px;
    background-color: #fff;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid #85ADD2;
    transition: $transition;
    &:before{
        display: none;
    }
    &:hover{
        background-color: #85ADD2;
        svg{
            fill: #fff;
            fill-opacity: 90%;
        }
    }
    svg{
        width: 28px;
        height: 12px;
        transition: $transition;
        fill: #85ADD2;
    }
}

.article {
    margin-bottom: 140px;
    &_bg {
        background-image: url(../img/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.container {

    &_border {
    }
}
.intro {

    &__pic {
        margin-bottom: 120px;
    }

    &__desc {
        display: flex;
        justify-content: space-between;
    }

    &__desc-item {
        width: 315px;
    }

    &__desc-title {
        font-size: 63px;
        line-height: 48px;
        text-transform: uppercase;
        padding-bottom: 16px;
        border-bottom: 1px solid $black;
        margin-bottom: 16px;
        span{
            font-size: 24px;
            line-height: 21px;
        }
    }

    &__desc-desc {
    }
}
.title {
    font-size: 63px;
    line-height: 66px;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 600;
    &_h2 {
        font-size: 45px;
        line-height: 48px;
        margin-bottom: 40px;
    }

    &_h3 {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 22px;
    }

    &_condition {
    }
}
.article-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &_reverce {
        align-items: flex-start;
        .article-col__pic{
            order: 1;
            margin: 0 100px 0 0;
        }
        .article-col__info{
            order: 2;
        }
    }

    &_advantage {
    }

    &_start {
    }

    &__info {
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        li{
            display: flex;
            align-items: center;
            font-size: 24px;
            line-height: 27px;
            &:before{
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $black;
                margin-right: 16px;
            }
        }
        &_border{
            li{
                border-bottom: 1px solid #272727;
                padding-bottom: 20px;
            }
        }
    }

    &__pic {
        width: 580px;
        margin-left: 100px;
        
    }

    &__desc {
    }

    &__tel {
    }

    &__about {
    }
}
.collection {
    display: flex;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #272727;
    &:last-child{
        padding: 0;
        margin: 0;
        border: 0;
    }
    &__pic {
        margin-right: 100px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__desc {
        
    }
}
.more {
    display: flex;
    position: relative;
    font-size: 19px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 67px;
    transition: $transition;
    transform: translateY(-27px);
    & > div{
        position: absolute;
        width: 78px;
        height: 78px;
        left: 0;
        top: -29px;
        background-image: url(../img/more.svg);
        background-position: center center;
        background-repeat: no-repeat;
        div{
            width: 127px;
            max-width: 27px;
            height: 8px;
            background-image: url(../img/arr.svg);
            background-position: right center;
            background-repeat: no-repeat;
            position: absolute;
            left: 27px;
            top: 36px;
            transition: $transition;
        }
    }
    &:hover{
        padding-left: 138px;
        div{
            div{
                max-width: 98px;
            }
        }
    }
}
.form {

    &__button {
    }
}
.advantage {

    &__num {
    }

    &__desc {
    }
}
.condition {

    &__desc {
    }

    &__item {
    }
}
.bottom-contact {

    &__tel {
    }

    &__soc {
    }
}






























@import '_query';


